@font-face {
	font-family: 'Cuprum';
	src:
	url('../fonts/web/cuprum.woff2') format('woff2'),
	url('../fonts/web/cuprum.woff') format('woff'),
	url('../fonts/cuprum/Cuprum-Regular.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cuprum';
	src:
	url('../fonts/web/cuprumbold.woff2') format('woff2'),
	url('../fonts/web/cuprumbold.woff') format('woff'),
	url('../fonts/cuprum/Cuprum-Bold.ttf') format('ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Cuprum';
	src:
	url('../fonts/web/cuprumitalic.woff2') format('woff2'),
	url('../fonts/web/cuprumitalic.woff') format('woff'),
	url('../fonts/cuprum/Cuprum-Italic.ttf') format('ttf');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Cuprum';
	src:
	url('../fonts/web/cuprumbolditalic.woff2') format('woff2'),
	url('../fonts/web/cuprumbolditalic.woff') format('woff'),
	url('../fonts/cuprum/Cuprum-BoldItalic.ttf') format('ttf');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'PT Sans';
	src:
	url('../fonts/web/ptsans.woff2') format('woff2'),
	url('../fonts/web/ptsans.woff') format('woff'),
	url('../fonts/ptsans/PTS55F.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans';
	src:
	url('../fonts/web/ptsansbold.woff2') format('woff2'),
	url('../fonts/web/ptsansbold.woff') format('woff'),
	url('../fonts/ptsans/PTS75F.ttf');
	font-weight: bold;
	font-style: normal;
}

/* Общие стили */

html {
  box-sizing: border-box;
	scroll-behavior: smooth;  
}

*, *::before, *::after {
  box-sizing: inherit;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	border: 0;

	clip: rect(0 0 0 0);
	overflow: hidden;
}

html,
body {
	width: 100%;

	margin: 0;
	padding: 0;
}

body {
	font-family: "Cuprum", "PT Sans", "Open Sans", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	font-style: normal;
	color: rgba(0, 0, 0, 1);
}

.container {
	width: 100%;
}

.wrapper {
	width: 940px;

	margin: 0 auto;
}

.btn {
	display: block;

	width: 135px;

	padding: 10px;

	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: rgba(255, 255, 255, 1);

	background-color: rgba(238, 54, 67, 1);
	border-radius: 3px;
}

.btn:hover {
 background-color: #ca2c37;
}

.btn:active {
	background-color: #ba2732;
}

.icon {
	position: absolute;
	top: 50%;
	left: 0;

	fill: rgba(106, 113, 128, 1);
	transform: translate(0, -50%);
}

.btn-close {
	position: absolute;
	right: 0;
	top: 0;

	width: 50px;
	height: 50px;

	border: none;
	background-color: transparent;
}

.btn-close::after,
.btn-close::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;

	display: block;

	width: 40px;
	height: 5px;

	background-color: #ee3643;
	border-radius: 3px;

	transform: translate(-50%, -50%) rotate(45deg);
}

.btn-close::before {
	transform: translate(-50%, -50%) rotate(-45deg);
}

/* header */

.header {
	padding-bottom: 60px;

	background: #f3f7f8;
}

.menu-box {
	background-color: rgba(50, 66, 92, 1);
}

.menu {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	min-height: 42px;
}

.logo {	
	width: 220px;
	padding: 9px 10px;
	font-size: 24px;
	line-height: 24px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	color: rgba(255, 255, 255, 1);

	background-color: rgba(238, 54, 67, 1);
	box-shadow: 0 5px 0 0 rgba(181, 41, 51, 1);
}

.logo:hover {
	background-color: rgba(202, 44, 55, 1);
}

.logo:active {
	background-color: rgba(186, 39, 50, 1);
}

.search {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;

	width: 270px;
	margin: 0;
	margin-right: auto;
	padding: 0;
}

.search__label {
	position: relative;

	width: 50px;
	height: 42px;
	margin: 0;
	padding: 0;
}

.search__label:hover {
	background-color: rgba(33, 42, 58, 1);
}

.search__input:hover + .search__label {
	background-color: rgba(33, 42, 58, 1);
}

.search__icon-search {
	left: 50%;

	width: 17px;
	height: 17px;


	transform: translate(-50%, -50%);	
}

.search__input:hover + .search__label .search__icon-search {
	fill: rgba(255, 255, 255, 1);
}

.search__input:focus + .search__label .search__icon-search {
	fill: rgba(238, 54, 67, 1);
}

.search__input {
	order: 1;

	width: 220px;
	margin: 0;
	padding: 11px;

	font-size: 17px;
	line-height: 18px;
	color: rgba(255, 255, 255, 1);	

	border: none;
	background-color: transparent;
}

.search__input::placeholder {
	font-size: 17px;
	line-height: 18px;
	color: rgba(255, 255, 255, 1);		
}

.search__input:hover {
	background-color: rgba(33, 42, 58, 1);
}

.search__input:focus {
	background-color: rgba(255, 255, 255, 1);
}

.search__input:focus + .search__label {
	background-color: rgba(255, 255, 255, 1);
}

.order-list {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	flex-wrap: wrap;

	width: 450px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.order-list__link {
	display: block;

	width: 150px;
	padding: 12px 10px;

	font-size: 17px;
	line-height: 18px;
	text-decoration: none;
	text-align: center;
	color: rgba(255, 255, 255, 1);
}

.order-list__link:hover {
	background-color: rgba(33, 42, 58, 1);
}

.order-list__link:active {
	background-color: rgba(22, 29, 41, 1);
}

.order-list__item:nth-child(1) .order-list__link,
.order-list__item:nth-child(2) .order-list__link {
	position: relative;
}

.order-list__link .icon {
	left: 10px;

	width: 15px;
	height: 15px;
}

.order-list__link .icon {
	left: 10px;

	width: 15px;
	height: 15px;
}

.order-list__link:hover .icon {
	fill: rgba(255, 255, 255, 1);
}

.order-list__link:active .icon {
	fill: rgba(139, 142, 148, 1);
}


.order-list__item:nth-child(3) .order-list__link {
	background-color: rgba(99, 166, 62, 1);
}

.order-list__item:nth-child(3) .order-list__link:hover {
	background-color: #5fbb2d;
}

.order-list__item:nth-child(3) .order-list__link:active {
	background-color: #518534;
}

.nav-box {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;

	min-height: 158px;
	padding-top: 46px;
}

.nav__caption {
	width: 260px;
	margin: 0;
	padding: 0px 50px;
	padding-top: 0;
	padding-right: 10px;

	font-size: 16px;
	line-height: 23px;
	font-weight: normal;
	font-style: italic;
	color: rgba(238, 54, 67, 1);
}

.tel {
	width: 270px;
}

.tel__link {
	display: block;

	padding: 10px 10px;

	font-size: 21px;
	line-height: 18px;
	color: rgba(238, 54, 67, 1);
	text-decoration: none;
	text-align: center;

	border: 3px solid rgba(255, 255, 255, 1);
}

.tel__adress {
	margin: 0;

	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: rgba(50, 66, 92, 1);
}

.nav-user {
	display: none;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 310px;
	padding: 0;
	margin: 0;

	list-style: none;
}

.nav-user__link {
	position: relative;

	display: block;

	width: 150px;
	padding: 13px 10px;

	font-size: 21px;
	line-height: 18px;
	text-decoration: none;
	text-align-last: center;
	color: rgba(0, 0, 0, 1);

	background-color: rgba(255, 255, 255, 1);
}

.nav-user__link:hover {
	color: #ee3643;
}

.nav-user__link:active {
	color: #c5c5c5;
}

.nav-user__icon-login {
	transform: translate(50%, -50%)
}

.nav-user__link:hover .icon {
	fill: #32425c;
}

.nav-user__link:active .icon {
	fill: #c5c5c5;
}

.nav-user--show {
	display: flex;
}

.nav-login {
	display: none;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;

	width: 310px;

	margin: 0;
	padding: 0;

	list-style: none;
}

.nav-login__item:first-child .nav-login__link {
	position: relative;

	display: block;
	
	width: 310px;
	padding: 12px 10px;

	font-size: 21px;
	line-height: 18px;
	text-decoration: none;
	text-align: center;
	color: rgba(0, 0, 0, 1);

	background-color: rgba(255, 255, 255, 1);
}

.nav-login__icon-logout {
	left: 90%;
	
	width: 20px;
	height: 17px;
}

.nav-login__icon-user {
	width: 20px;
	height: 18px;
	
	transform: translate(50%, -50%);
}

.nav-login__link {
	font-size: 16px;
	line-height: 18px;
	color: rgba(50, 66, 92, 1);
}

.nav-login__item:first-child .nav-login__link:hover {
	color: #ee3643;
}

.nav-login__item:first-child .nav-login__link:active {
	color: #c5c5c5;
}

.nav-login__link:hover {
	color: #ee3643;
}

.nav-login__link:active {
	color: #c5c5c5;
}

.nav-login__link:hover .icon {
	fill: #32425c;
}

.nav-login__link:active .icon {
	fill: #c5c5c5;
}

.nav-user--show {
	display: flex;
}


.nav-user--show {
	display: flex;
}

.nav-login--show {
	display: flex;
}


.nav-site {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;

	list-style: none;

	background-color: rgba(50, 66, 92, 1);
	box-shadow: inset 0px -5px 0px 0px rgba(41, 52, 73, 1);
}

.nav-site__item {	
	flex-grow: 1;
}

.nav-site__link {
	display: block;


	padding: 21px 10px;
	padding-bottom: 22px;

	font-size: 17px;
	line-height: 17px;
	text-decoration: none;
	text-align: center;
	color: rgba(255, 255, 255, 1);
}

.nav-site__link:hover {
	background-color: #293449;
}

.nav-site__link:active {
	color: rgba(255, 255, 255, 0.5);

	background-color: 1d2739;
}

/* main */

.main {
	padding-top: 59px;
}

.promo {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	min-height: 409px;
	margin-bottom: 53px;
}


.promo-list-first {
	display: flex;
	align-content: space-between;
	justify-content: space-between;
	flex-wrap: wrap;

	width: 620px;
	min-height: 409px;	
	margin: 0;
	padding: 0;

	list-style: none;
}

.promo-list-first .promo-list__item:last-child {
	flex-grow: 1;

	height: 266px;

	padding: 0;
}

.promo-list-second {
	display: flex;
	align-content: space-between;
	flex-wrap: wrap;

	width: 300px;
	min-height: 409px;	
	margin: 0;
	padding: 0;

	list-style: none;
}

.promo-list__item {
	position: relative;

	width: 300px;
	min-height: 123px;

	padding: 20px 23px;

	overflow: hidden;	
}

.promo-list__item--new::before {
	content: "New";
	position: absolute;
	z-index: 10;
	right: -27px;
	top: 9px;

	display: block;

	width: 100px;
	padding: 3px;

	font-family: "PT Sans", "Open Sans", sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: lowercase;	
	text-align: center;
	color: rgba(255, 255, 255, 1);

	background-color: #ee3643;

	transform: rotate(45deg);
}

.promo-list__item .icon {
	left: 80%;

	fill: #ffffff;
	transform: translate(-50%, -50%);
}

.promo-list__item:hover .icon {
	fill: #cccccc;
}

.promo-list__item:active .icon {
	fill: #b2b2b2;
}

.promo-list-first .promo-list__item:nth-of-type(1) {
	background-color: rgba(255, 191, 71, 1);
}

.promo-list-first .promo-list__item:nth-of-type(2) {
	background-color: rgba(59, 188, 227, 1);
}

.promo-list-second .promo-list__item:nth-of-type(1) {
	background-color: rgba(220, 145, 216, 1);
}

.promo-list-second .promo-list__item:nth-of-type(2) {
	background-color: rgba(142, 215, 143, 1);
}

.promo-list-second .promo-list__item:nth-of-type(3) {
	background-color: rgba(255, 192, 71, 1);
}

.promo-list__item-new {}

.promo-list__caption {
	margin: 0;
	margin-bottom: 13px;

	font-size: 24px;
	line-height: 30px;
	font-weight: bold;	
	color: rgba(255, 255, 255, 1);
}

.promo-list__link {
	background-color: rgba(0, 0, 0, 0.1);
}

.promo-list__link:hover {
	background-color: rgba(0, 0, 0, 0.2)
}

.promo-list__link:active {
	background-color: rgba(0, 0, 0, 0.3)
}

.slider-box {
	display: flex;
	overflow: hidden;		

	height: 266px;
	width: 620px;
}

.slider {
	position: relative;

	display: flex;
}

.slider__item {
	flex-shrink: 0;
	display: none; 	
	height: 266px;
	width: 620px;
	margin: 0;
	padding: 26px 24px;

	background-color: rgba(186, 169, 154, 1);
}

.slider__item:nth-of-type(1) {
	background: url("../image/img/min/man-1-min.jpg") 0px 0px no-repeat;
}

.slider__item:nth-of-type(2) {
	background: url("../image/img/min/slider-2-min.jpg") 0px 0px no-repeat;
}

.slider__item--show {
	display: block;
}

.slider__caption {
	margin: 0;
  margin-bottom: 4px;
  
	font-size: 36px;
	line-height: 30px;
	font-weight: bold;	
	text-transform: uppercase;
	color: rgba(255, 255, 255, 1);
}

.slider__text {
	margin: 0;

	font-family: "PT Sans", "Open Sans", sans-serif;
	font-size: 18px;
	line-height: 24px;	
	color: rgba(255, 255, 255, 1);
}

.slider__link {
	position: absolute;
	bottom: 22px;
	left: 25px;

	width: 195px;
}

.slider__btn {
	position: absolute;
	top: 50%;

	display: block;
	width: 40px;
	height: 40px;

	background: transparent;
	border: 3px solid #f3f7f8;
	border-top: none;
	border-right: none;

	transform: translate(50%, -50%) rotate(45deg);
}

.slider__btn-next {
	right: 0;

	transform: translate(-50%, -50%) rotate(-135deg);	
}

.caption {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;

	min-height: 89px;
	padding: 10px 24px;
	margin-bottom: 20px;

	background-color: rgba(249, 245, 240, 1);
}

.caption__caption {
	margin: 0;

	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	text-transform: uppercase;
	color: rgba(50, 66, 92, 1);
}

.caption__link {
	width: 253px;
}

.products-list {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: space-between;


	margin-bottom: 21px;
	padding: 0;

	list-style: none;
}

.products-list__item {
	position: relative;
}

.products-list__link {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;

	width: 220px;
	min-height: 318px;
	padding-bottom: 20px;

	text-decoration: none;
	text-align: center;

	border: 1px solid rgba(244, 234, 234, 1);

	overflow: hidden;
}

.products-list__link--hidden {
	display: none;
} 

.products-list--list .products-list__link {
	width: auto;
}

.products-list__link:hover {
	box-shadow: 0 3px 20px 0 #000000;
}

.products-list__link .products-list__slider {
	transform: translate(0, 0);
	transition: 0.5s;
}

.products-list__link:hover .products-list__slider {
	transform: translate(-100%, 0);
	transition: 0.5s;
}

.products-list__slider {
	display: flex;
	margin-bottom: 20px;
	width: 218px;
	height: 150px;

}

.btn-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;

	width: 218px;
	height: 150px;
}

.btn-box__link {
	position: relative;

	width: 135px;

	margin-bottom: 10px;

	background-color: #63a63e;
	box-shadow: inset 0 -4px 0 0 #367315;
}

.btn-box__link:hover {
	background-color: #5fbb2d;
}

.btn-box__link .icon {
	left: 10%;

	fill: rgba(255, 255, 255, 0.4);
}

.btn-box__link:hover .icon {
	fill: #ffffff;
}

.btn-box__link:active {
	background-color: #518534;
}

.btn-box__btn {
	width: 135px;

	color: #000000;

	background-color: #ffffff;
	border: 3px solid #63a63e;	
}

.btn-box__btn:hover {
	background-color: #ffffff;
	border-color: #32425c;	
}

.btn-box__btn:active {
	background-color: #ffffff;
	opacity: 0.5;
}


.products-list__img {
	z-index: 9;

	display: block;
	flex-shrink: 0;	

	width: 218px;
	height: 150px;
	padding: 0;
	margin: 0;


	line-height: 0;
}

.products-list__text {
	width: 190px;
	margin: 0;
	margin-bottom: auto;

	font-family: "PT Sans", "Open Sans", sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	color: rgba(0, 0, 0, 1);
}

.products-list__text--hidden {
	display: none;
}

.products-list__price-old {
	margin-bottom: auto;

	font-family: "PT Sans", "Open Sans", sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: line-through;
	color: rgba(169, 169, 169, 1);
}

.products-list__price--show {}

.products-list__price {
	position: relative;

	width: 141px;

	font-family: "PT Sans", "Open Sans", sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	text-transform: uppercase;
}


.products-list__price::after {
	content: "";
	position: absolute;
	right: 1px;
	top: 50%;

	display: block;
	width: 27px;
	height: 27px;

	background-color: #ee3643;

	transform: translate(50%, -50%) rotate(45deg);
}

.products-list__price:hover::after {
	background-color: #ca2c37;
}

.products-list__price:active::after {
	background-color: #ba2732;
}

.products-list__link--new {}

.manufactured {
	margin-bottom: 85px;
}

.manufactured__caption {
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	text-transform: uppercase;
	color: rgba(50, 66, 92, 1);
}

.manufactured-list {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: space-between;

	min-height: 310px;
	padding: 0;

	list-style: none;
}

.manufactured-list__item {}

.manufactured-list__link {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 220px;
	height: 145px;

	text-decoration: none;

	background-color: #ffffff;
	border: 1px solid rgba(244, 234, 234, 1);

	transform: scale(1);
	transition: 0.5s;		
}

.manufactured-list__item:hover {
	box-shadow: 0 3px 20px 0 #000000;	

	transform: scale(1.1);
	transition: 0.5s;
}

.manufactured-list__item:active {
	box-shadow: 0 3px 20px 0 #000000;	

	transform: scale(0.8);
	transition: 0.5s;
}

.manufactured-list__img {}

.container-advantages {
	background-color: rgba(244, 248, 249, 1);

	padding-top: 68px;
}

.advantages__caption {
	margin: 0;
	margin-bottom: 29px;

	font-size: 30px;
	line-height: 24px;
	font-weight: normal;
	text-transform: uppercase;
}

.advantages__text {
	width: 400px;
	margin: 0;
	margin-bottom: 16px;

	font-family: "PT Sans", "Open Sans", sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.advantages-menu-shell {
	display: flex;
	align-items: flex-start;

	min-height: 333px;	
}

.advantages-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	min-height: 333px;		
	margin: 0;
	padding: 0;

	list-style: none;
}

.advantages-menu__item {}

.advantages-menu__link {
	display: block;

	width: 240px;
	padding: 14px 22px;

	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
	text-decoration: none;
	color: rgba(255, 255, 255, 1);

	background-color: rgba(50, 66, 91, 1);
}

.advantages-menu__link:hover {
	background-color: #293449;
}

.advantages-menu__link--active {
	color: rgba(50, 66, 91, 1);

	background-color: rgba(255, 255, 255, 1);
}

.advantages-list {
	flex-grow: 1;
	min-height: 333px;

	margin: 0;
	padding: 0;

	list-style: none;
	box-shadow: -60px 0px 20px -65px rgba(0, 0, 0, 1);
}

.advantages-list__item {
	display: none;
	min-height: 333px;

	padding-top: 57px;
	padding-left: 80px;

	background: url("../image/png/min/css_sprites.png") right 133px no-repeat;	
}

.advantages-list__item--show {
	display: block;
}

.advantages-menu__link--active:hover {
	background-color: #ffffff;
}

.advantages-list__item:nth-of-type(2) {
	background-position: right -751px;
}

.advantages-list__item:nth-of-type(3) {
	background-position: right -1663px;
}

.advantages-list__caption {
	margin: 0;
	margin-bottom: 31px;

	font-size: 36px;
	line-height: 24px;
	font-weight: normal;	
	text-transform: uppercase;
	color: rgba(50, 66, 92, 1);
}

.advantages-list__text {
	width: 277px;
	margin: 0;
	margin-bottom: 30px;

	font-family: "PT Sans", "Open Sans", sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.advantages-list__link {
	width: 195px;
}

.about-company-shell {
	display: flex;
	justify-content: space-between;

	min-height: 368px;
	padding-top: 86px;
	padding-bottom: 86px;
}

.about-company {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 520px;
	min-height: 368px;	
}

.about-company__caption {
	margin: 0;

	font-size: 30px;
	line-height: 24px;
	font-weight: normal;
	text-transform: uppercase;
}

.about-company__text {
	margin: 0;

	font-style: "PT Sans", "Open Sans", sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.about-company-list {
	margin: 0;
	margin-left: 50px;
	padding: 0;

	list-style: none;
}

.about-company-list__item {
	position: relative;

	margin-bottom: 10px;

	font-size: 18px;
	line-height: 20px;
}

.about-company-list__item::before {
	content: "";
	position: absolute;
	top: 50%;
	left: -50px;

	display: block;
	
	width: 40px;
	height: 2px;

	background-color: #ee3643;

	transform: translate(0, -50%);
}

.about-company__link {
	width: 220px;
}

.map {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	min-height: 368px;
	width: 300px;
}

.map__caption {
	margin: 0;

	font-size: 30px;
	line-height: 24px;
	font-weight: normal;	
	text-transform: uppercase;
}

.map__text {
	width: 180px;
	margin: 0;

	font-style: "PT Sans", "Open Sans", sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.map__img {
	width: 300px;
	height: 158px;
}

.map__link {
	width: 300px;
}

.map-popup {
	position: fixed;
	z-index: 200;
	left: 50%;
	top: 50%;	

	display: none;
	width: 940px;
	height: 446px;

	background: rgba(238, 234, 227, 1) url("../image/img/min/map-big-min.jpg") no-repeat;
	box-shadow:  0 8px 16px 8px rgba(0, 0, 0, 0.5);

	transform: translate(-50%, -50%);
} 

.map-popup--show {
	display: block;
}

.form-popup {
	position: fixed;
	display: none;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 200;
}

@keyframes bounce {
	0% { 
		transform: translate(-2000px, -50%); 
	}
	70% { 
		transform: translate(30px, -50%); 
	}
	90% { 
		transform: translate(-10px, -50%); 
	}
	100% { 
		transform: translate(0, -50%); 
	}
}		

.form-popup--show {
	display: block;
	animation-name: bounce;
	animation-duration: 0.6s;
}

@keyframes shake {
	10%, 30%, 50%, 70%, 90% { 
		transform: translate(-50%, -51%); 
	}
	20%, 40%, 60%, 80% { 
		transform: translate(-50%, -50%); 
	}
}

.form-popup--error {
	animation-name: shake;
	animation-duration: 0.6s;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 640px;

	border-top: 6px solid rgba(238, 54, 67, 1);
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.form-inner {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: space-between;

	padding-top: 55px;
	width: 460px;
}

.form-inner__item {
	width: 220px;
	margin-bottom: 37px;
}

.form-inner__item-textarea {
	width: 460px;
}

.form-inner__label {
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
}

.form-inner__input {
	width: 100%;
	height: 38px;

	border: 2px solid rgba(222, 227, 228, 1);
}

.form-inner__textarea {
	width: 100%;
	height: 114px;

	border: 2px solid rgba(222, 227, 228, 1);
	border-radius: 2px;
}

.form__item-submit {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	width: 100%;

	padding: 37px 0;

	background-color: rgba(244, 244, 244, 1);
}

.form__btn {
	width: 460px;

	margin: 0 auto;

	border: none;
}

.form__btn-submit {}

.form__btn-close {}

/* footer */

.footer {}

.container-contacts {
	background-color: rgba(50, 66, 92, 1);
}

.contacts {

}

.nav-footer {	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: flex-start;

	height: 193px;
}

.logo__footer {
	order: -3;

	margin-bottom: 33px;
	padding: 16px 10px;

	font-size: 30px;
	line-height: 30px;
}

.nav-footer .nav__tel-link {
	order: -1;
}

.nav-footer .nav__adress {
	margin: 0;
	order: -2;	
}

.nav-site__footer {
	justify-content: flex-end;

	width: 500px;
	margin: auto 0;

	box-shadow: none;
}

.nav-site__footer .nav-site__item:nth-child(n + 6) a {
	color: rgba(255, 209, 128, 1);
}

.nav-site__footer .nav-site__link {
  padding-right: 0;
  padding-left: 20px;
 
  text-align: right;
}

.nav-site__footer .nav-site__link:hover {
  text-decoration: underline;

  background-color: #32425c;
}

.nav-site__footer .nav-site__link:active {
  text-decoration: none;
  
  opacity: 0.5;
}

.nav-footer .nav__tel-link {
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
}

.nav-footer .nav__adress {
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	color: rgba(255, 255, 255, 1);	
}

.container-copyright {
	padding: 35px 0;

	background-color: rgba(41, 52, 73, 1);	
}

.copyright {
	display: flex;
	flex-wrap: wrap
	align-items: flex-start;
	justify-content: space-between;
}

.copyright__text {
	width: 235px;

	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	color: rgba(255, 255, 255, 1);
}

.social-list {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	justify-self: center;

	margin: 0;
	padding: 0;

	list-style: none;
}

.social-list__item {
	margin: 0 5px;
}

.social-list__link {
	position: relative;

	display: block;

	width: 38px;
	height: 38px;

	background-color: rgba(33, 42, 58, 1);
	border-radius: 50%;	
}

.social-list__link:hover {
	background-color: #ee3643;
}

.social-list__link:active {
	background-color: rgba(33, 42, 58, 1);
}

.social-list__link .icon {
	left: 50%;

	fill: #ffffff;

	transform: translate(-50%, -50%);
}

.social-list__link:active .icon {
	fill: #ee3643;
}

.copyright__link {
	font-size: 16px;
	line-height: 18px;
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
}

.copyright__link span {
	color: rgba(255, 209, 128, 1);
}

.copyright__link:hover span {
	text-decoration: underline;
}

.copyright__link:active span {
	text-decoration: none;
	color: #ee3643;
}


/* Каталог */
.main-catalog {
position: relative;

 padding-top: 0;
}

.breadcrumps {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;

	min-height: 59px;
	margin: 0;
	padding: 0;
	padding-left: 30px;

	list-style: none;
}

.breadcrumps__item {}

.breadcrumps__link {
	position: relative;
	display: block;

	padding: 5px 20px;

	font-family: "PT Sans", "Open Sans", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
}

.breadcrumps__link .icon {
	left: -25%;

	fill: #c1c6ce;

	transform: translate(-50%, -50%);
}

.breadcrumps__link::before {
	position: absolute;
	content: "";
	display: block;
	top: 50%;
	left: 0;

	width: 8px;
	height: 8px;

	border: 1px solid #c1c6ce;
	border-left: none;
	border-top: none;

	transform: translate(-50%, -50%) rotate(-45deg);
}

.main-catalog__caption {
	margin: 0;
	margin-bottom: 20px;

	font-size: 30px;
	line-height: 30px;
	font-weight: normal;	
	text-transform: uppercase;
	color: rgba(50, 66, 92, 1);

	background-color: rgba(242, 246, 248, 1);
}

.catalog-box {
	position: relative;

	display: flex;
	justify-content: space-between;
}

.cart-popup {
	display: none;ment
	position: absolute;
	top: 0;
	left: 50%;

	transform: translate(-50%, 0);
}

.cart-popup .btn {
	width: 220px;
}

.cart-popup .form-inner {
	margin-bottom: 70px;
}

.cart-popup .form__text {
	position: relative;
	flex-shrink: 0;
	margin: 0 auto;
	font-size: 30px;
	line-height: 18px;
	text-align: center;
	color: rgba(0, 0, 0, 1);
}

.cart-popup .form__text::before {
	position: absolute;
	content: "";
	top: 50%;
	left: -50px;

	width: 66px;
	height: 66px;

	border-radius: 50%;
	background-color: #63a63e;

	transform: translate(-50%, -50%);
}

.cart-popup .form__text::after {
	position: absolute;
	content: "";
	top: 50%;
	left: -50px;

	width: 40px;
	height: 20px;

	border: 10px solid #ffff;
	background-color: #63a63e;
	border-right: none;
	border-top: none;

	transform: translate(-50%, -50%) rotate(-45deg);
}

.cart-popup--show {
	display: block;
}

.form-filter {
	width: 220px;
	margin: 0;
	padding: 0;
}

.form-filter__caption {
	display: block;

	width: 220px;
	padding: 10px;
	margin-bottom: 20px;

	font-family: "PT Sans", "Open Sans", sans-serif;	
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;

	background-color: rgba(247, 243, 236, 1);
}

.form-filter__fieldset {
	margin: 0;
	padding: 0;
	padding-bottom: 20px;

	border: none;
	border-bottom: 2px solid rgba(242, 246, 248, 1);
}

.form-filter__fieldset:last-of-type {
	border-bottom: none;
}

.form-filter__legend {
	margin-bottom: 6px;
}

.form-filter__fieldset:not(:first-of-type) .form-filter__legend {
 padding-top: 10px;
}

.form-filter__label {
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
}

.range {
	width: 220px;
	padding: 38px 20px;
	margin-bottom: 9px;

	background-color: rgba(247, 243, 236, 1);
}

.bar {
	width: 180px;
	height: 2px;
	padding-left: 20px;
	padding-right: 65px;

	background-color: rgba(177, 177, 177, 1);
}

.status-bar {
	position: relative;

	width: auto;
	height: 2px;

	background-color: rgba(0, 202, 16, 1);
}

.status-bar::before,
.status-bar::after {
	content: "";
	position: absolute;
	display: block;

	width: 20px;
	height: 20px;

	background-color: rgba(177, 177, 177, 1);
	border: 8px solid white;
	border-radius: 50%;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 1);
}

.status-bar::before {
	left: 0;
	top: 50%;

	transform: translate(-50%, -50%);
}

.status-bar::after {
	right: 0;
	top: 50%;

	transform: translate(50%, -50%)
}

.checkbox-list,
.radio-list {
	margin: 0;
	padding: 0;

	list-style: none;	
}

.checkbox-list__item,
.radio-list__item {
	margin-bottom: 20px;
}

.checkbox-list__item:last-child,
.radio-list_item:last-child {
	margin-bottom: 0;
}


.form-filter__input {
	display: inline-block;
	vertical-align: middle;
}

.form-filter__label {
	position: relative;

	display: inline-block;
	vertical-align: middle;

	padding-left: 40px;
}

.form-filter__label::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;

	display: block;

	width: 23px;
	height: 23px;

	border: 2px solid rgba(177, 177, 177, 1);
	border-radius: 3px;

	transform: translate(0, -50%);
}

.form-filter__label::after {
	content: "";
	position: absolute;
	top: 5px;
	left: 15px;

	display: none;

	width: 21px;
	height: 9px;

	border: 4px solid rgba(177, 177, 177, 1);
	border-top: none;
	border-right: none;

	transform: translate(-50%, -50%) rotate(-45deg);
}

.form-filter__input:checked ~ .form-filter__label::after {
	display: block;
}

.radio-list .form-filter__label::before {
	border-radius: 50%;
}

.radio-list .form-filter__label::after {
	top: 50%;
	left: 0;

	width: 10px;
	height: 10px;

	background-color: rgba(177, 177, 177, 1);
	border: none;
	border-radius: 50%;

	transform: translate(65%, -50%);
}

.form-filter__label:hover::before,
.form-filter__label:hover::after {
	border-color: #ee3643;
}

.radio-list .form-filter__label:hover::after {
	background-color: #ee3643;
}

.form-filter__legend {
	font-family: "PT Sans", "Open Sans", sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.output-box {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.form-filter__output {
	width: 90px;
	padding: 10px;

	font-family: "PT Sans", "Open Sans", sans-serif;	
	font-size: 13px;
	line-height: 18px;
	text-align: center;

	background-color: rgba(247, 243, 236, 1);
}

.form-filter__btn {
	width: 140px;

	font-family: "PT Sans", "Open Sans", sans-serif;	
	font-size: 13px;
	line-height: 18px;
	color: rgba(0, 0, 0, 1);

	background-color: transparent;
	border: 2px solid rgba(229, 229, 229, 1);
}

.form-filter__btn:hover,
 .form-filter__btn:active{
	color: #ffffff;
}

.sort-box {
	width: 700px;
}

.sort-list {
	display: flex;
	justify-content: space-around;

	padding: 10px;
	margin-bottom: 20px;

	background-color: rgba(247, 243, 236, 1);
}

.sort-list__caption {
	font-family: "PT Sans", "Open Sans", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

.sort-list__link {
	font-family: "PT Sans", "Open Sans", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: #c5c5c5;

	border-bottom: 1px dotted #ee3643;
}

.sort-list__link--active {
	color: #ee3643;

	border-bottom: none;
}

.sort-list__link:hover {
	color: #000000;

	border-bottom: 1px solid #ee3643;
}

.catalog-list {
	height: 1024px;
	overflow-y: scroll;
}

.catalog-list--list {
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: stretch;
}

.catalog-list--list .products-list__link {
	width: auto;
}


.catalog-list .products-list__item {
	margin-bottom: 20px;
}

.sort-list__link-up,
.sort-list__link-down {
	width: 14px;
	height: 14px;

	border: 7px solid transparent;
	border-left: 7px solid #c5c5c5;
	border-bottom: 7px solid #c5c5c5;

	transform: skewX(-25deg);
}

.sort-list__link-down {
	transform: rotate(180deg) skewX(-25deg);
}

.sort-list__link-up:hover,
.sort-list__link-down:hover {
	border-left: 7px solid #000000;
	border-bottom: 7px solid #000000;
}

.sort-list__link-sort--active {
	border-left: 7px solid #ee3643;
	border-bottom: 7px solid #ee3643;
}

.visual-btn {
	position: relative;
	width: 20px;
	min-height: 20px;
	
	border: none;
}

.visual-btn::after,
.visual-btn::before {
	position: absolute;
	content: "";
	top: 50%;
	left: 20%;

	display: block;
	width: 5px;
	height: 15px;

	border: 1px solid #ffffff;

	transform: translate(-20%, -50%);
}

.visual-btn::before {
	left: 60%;
	transform: translate(0, -50%);	
}

.visual-btn--list {
	transform: rotate(90deg);
}

.page-list {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;

	width: 700px;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-bottom: 60px;

	list-style: none;
}

.page-list__item {}

.page-list__item--hidden {
	display: none;
}

.page-list__link {
	display: block;

	margin-right: 10px;
	padding: 9px 13px;

	font-family: "PT Sans", "Open Sans", sans-serif;	
	font-size: 13px;
	line-height: 18px;
	text-decoration: none;
	color: rgba(0, 0, 0, 1);

	background-color: transparent;
	border: 1px solid rgba(229, 229, 229, 1);
	border-radius: 3px;
}

.page-list__link:hover {
	border-color: #b5b5b5;
}

.page-list__link:active {
	border-color: #ee3643;
}

.page-list__link--active {
	background-color: #ee3643;
	color: #ffffff;
}

.cart-popup {}
.cart-popup__caption {}
.cart-popup__link {}
.cart-popup__btn {}
.btn-close {}

.container-product-info {
	padding-top: 67px;
	padding-bottom: 73px;

	background-color: rgba(242, 246, 248, 1);
}

.product-info__caption {
	font-size: 30px;
	line-height: 24px;
	font-weight: normal;	
	text-transform: uppercase;
}

.product-info__text {
	font-family: "PT Sans", "Open Sans", sans-serif;	
	font-size: 13px;
	line-height: 24px;
}

.add-cart .form__btn {
	width: 220px;
}

.form-reg--show {
	display: block;
}

.scroll-up {
	position: fixed;
	bottom: 50px;
	right: 10px;
	
	display: none;
	width: 100px;
	
	transform: rotate(-90deg);

	opacity: 0.4;
}

.scroll-up--show {
	display: block;
}